footer{

    background:#212529;
    color:white;

    text-align:center;

    padding:2rem 1rem;

}

.social-icons{

    display:flex;

    justify-content:center;

    gap:1rem;

    margin-bottom:1rem;

}

.social-icons img{

    width:34px;

    transition:.3s;

}

.social-icons img:hover{

    transform:translateY(-3px);

}

.copy{

    margin:0;

    color:#adb5bd;

    font-size:.9rem;

}